<tr>
  <td><%= link_to transaction.description, transaction %></td>
  <td><%= transaction.icon_html %> <%= number_to_currency transaction.amount_dollars %></td>
  <td><%= raw transaction.tag_html %></td>
  <td>
    <%= link_to transaction.account.name, account_path(transaction.account) %>
    <%= transaction.transfer_to? ? raw(' <i class="icon-arrow-right purple"></i> ') + link_to(transaction.corresponding_expense.account.name, account_path(transaction.corresponding_expense.account)) : '' %>
  </td>
  <td><%= l transaction.date, format: :long %></td>
  <td><%= transaction.paid_on_behalf? ? link_to(transaction.paid_on_behalf.name, contact_path(transaction.paid_on_behalf)) : '' %></td>
  <td><%= transaction.settles? ? link_to(transaction.settles.summary_string(format: :short), transaction_path(transaction.settles)) : '' %></td>
  <td>
    <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_transaction_path(transaction), {class: "btn btn-small btn-warning"} %>
    <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), transaction, class: "btn btn-small btn-danger", method: :delete, data: { confirm: t(:confirm_transaction_delete, {id: transaction.id, type: transaction.income_string, description: transaction.description, amount: transaction.amount, date: transaction.date})} %></td>
</tr>