<tr>
  <td><%= link_to transaction.description, transaction %></td>
  <td><%= transaction.income? ? raw('<i class="icon-plus green"></i>') : raw('<i class="icon-minus red"></i>') %> <%= number_to_currency transaction.amount_dollars %></td>
  <td><%= transaction.tags_html %></td>
  <td><%= transaction.account %></td>
  <td><%= transaction.date %></td>
  <td>
    <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_transaction_path(transaction), {class: "btn btn-small btn-warning"} %>
    <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), transaction, class: "btn btn-small btn-danger", method: :delete, data: { confirm: t(:confirm_transaction_delete, {id: transaction.id, type: transaction.income_string, description: transaction.description, amount: transaction.amount, date: transaction.date})} %></td>
</tr>