<% provide(:title, 'Transaction') %>
<% provide(:titleSmall, 'View') %>

<div class="row-fluid">
  <dl class="dl-horizontal">
    <%= dtdd 'Date', l(@transaction.date, format: :long) %>
    <%= dtdd 'Type', @transaction.income_string %>
    <%= dtdd 'Account', link_to(@transaction.account.name, account_path(@transaction.account)) %>
    <%= dtdd 'Amount', @transaction.amount_dollars %>
    <%= dtdd 'Description', @transaction.description %>
    <%= dtdd 'Category', raw(@transaction.tag_html) %>
    <%= dtdd '', link_to(raw("<i class='icon-edit'></i> Edit"), edit_transaction_path(@transaction), class: "btn btn-small btn-warning") %>
  </dl>
</div>