<div class="row-fluid">
  <div class="span6">
    <ul class="nav nav-pills">
      <li class="<%= navbar_active_pill 'month' %>">
        <a href="/reports/expense/month">This Month</a>
      </li>
      <li class="<%= navbar_active_pill 'month_last' %>">
        <a href="/reports/expense/month_last">Last Month</a>
      </li>
      <li class="<%= navbar_active_pill 'month_last_3' %>">
        <a href="/reports/expense/month_last_3">Last 3 Months</a>
      </li>
      <li class="<%= navbar_active_pill 'year' %>">
        <a href="/reports/expense/year">This Year</a>
      </li>
      <li class="<%= navbar_active_pill 'year_last' %>">
        <a href="/reports/expense/year_last">Last Year</a>
      </li>
      <li class="<%= navbar_active_pill 'custom' %>">
        <a href="/reports/expense/custom">Custom</a>
      </li>
    </ul>
  </div>
</div>