<% provide(:title, 'Expenses') %>
<% provide(:titleSmall, 'Report') %>

<% javascript_with_params(javascript_path('expense_report_data_pie') + '?' + params.select{|k| @permitted_params.include?(k)}.to_query) %>
<% javascript_with_params(javascript_path('expense_report_data_bar') + '?' + params.select{|k| @permitted_params.include?(k)}.to_query) %>

<%= render 'nav_pills' %>

<% if params[:nav] == 'custom' && (params[:date_start].nil? || params[:date_end].nil?) %>
  
  <!-- form for selecting start and end dates -->
  <div class="row-fluid">
    <%= form_tag '', method: :get, class: "form-horizontal" %>
      
      <div class="control-group">
        <%= label_tag :date_start, 'Start Date', class: "control-label" %>
        <div class="controls">
          <span class="input-icon input-icon-right">
            <%= text_field_tag :date_start, '', class: "date-picker", 'data-date-format' => "yyyy-mm-dd", placeholder: 'Select a date' %>
            <i class="icon-calendar"></i>
          </span>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :date_end, 'End Date', class: "control-label" %>
        <div class="controls">
          <span class="input-icon input-icon-right">
            <%= text_field_tag :date_end, '', class: "date-picker", 'data-date-format' => "yyyy-mm-dd", placeholder: 'Select a date' %>
            <i class="icon-calendar"></i>
          </span>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag(type: :submit, class: "btn btn-small btn-success") do %>
          <i class='icon-ok'></i> Create Report
        <% end %>
      </div>
  </div>

<% else %>

  <div class="row-fluid">
    <h4 class="center">
      <div id="total-placeholder">

      </div>
    </h4>
    <hr>
  </div>


  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="piechart-placeholder" style="width:100%; min-height:350px;"></div>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="barchart-placeholder" style="width:100%; min-height:350px;"></div>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row-fluid">
    
  </div>

<% end %>