<a id="menu-toggler" href="#" class="">
  <span></span>
</a>
<div id="sidebar" class="fixed">
  <div id="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large">
      <button class="btn btn-small btn-success">
        <i class="icon-signal"></i>
      </button>

      <button class="btn btn-small btn-info">
        <i class="icon-pencil"></i>
      </button>

      <button class="btn btn-small btn-warning">
        <i class="icon-group"></i>
      </button>

      <button class="btn btn-small btn-danger">
        <i class="icon-cogs"></i>
      </button>
    </div>

    <div id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!--#sidebar-shortcuts-->

  <ul class="nav nav-list">
    <!-- Accounts -->
    <li class="<%= sidebar_active_controller 'accounts' %>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-money"></i>
        <span>Accounts</span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li class="<%= sidebar_active_view 'accounts', 'index' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> View'), accounts_path %>
        </li>
        <li class="<%= sidebar_active_view 'accounts', 'new' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> Create'), new_account_path %>
        </li>
      </ul>
    </li>

    <!-- Tags -->
    <li class="<%= sidebar_active_controller 'tags' %>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-tag"></i>
        <span>Tags</span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li class="<%= sidebar_active_view 'tags', 'index' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> View'), tags_path %>
        </li>
        <li class="<%= sidebar_active_view 'tags', 'new' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> Create'), new_tag_path %>
        </li>
      </ul>
    </li>

    <!-- Contacts -->
    <li class="<%= sidebar_active_controller 'contacts' %>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-user"></i>
        <span>Contacts</span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li class="<%= sidebar_active_view 'contacts', 'index' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> View'), contacts_path %>
        </li>
        <li class="<%= sidebar_active_view 'contacts', 'new' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> Create'), new_contact_path %>
        </li>
      </ul>
    </li>

    <!-- Transactions -->
    <li class="<%= sidebar_active_controller 'transactions' %>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-credit-card"></i>
        <span>Transactions</span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li class="<%= sidebar_active_view 'transactions', 'index' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> View'), transactions_path %>
        </li>
        <li class="<%= sidebar_active_view 'transactions', 'new' %>">
          <%= link_to raw('<i class="icon-double-angle-right"></i> Create'), new_transaction_path %>
        </li>
      </ul>
    </li>
  </ul><!--/.nav-list-->

  <div id="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>