<%= render 'layouts/error_messages', resource: @account %>

<div class="control-group">
  <%= f.label :name, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :balance_dollars, "Amount", class: "control-label" %>
  <div class="controls">
    <%= f.number_field :balance_dollars, {step: 0.01} %>
  </div>
</div>